apiVersion: apps/v1
kind: Deployment
metadata:
  name: voice-gis-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: voice-gis-app
  template:
    metadata:
      labels:
        app: voice-gis-app
    spec:
      containers:
        - name: voice-gis-app
          image: someone15me/voice-gis-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000

          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 20
            periodSeconds: 10

          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 1000
